.nav__contents{
    display:flex;
    justify-content: space-between;
}
.nav__avatar, .nav__logo{
    position:fixed;
    object-fit: contain;
}
.nav__logo{
    width:80px;
}
.nav__avatar{
    width:30px;
    height:30px;
    right:20px;
}
nav{
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all .5s;
}
.nav__black{
    color:black;
}